.dub
docs.json
__dummy.html
docs/
/backup
backup.so
backup.dylib
backup.dll
backup.a
backup.lib
backup-test-*
*.exe
*.o
*.obj
*.lst

# Emacs temporary files
*~

# Binary executables
backupd
BackupUnitTest

# Files created by unit tests
testFile
outFile

# DMD code coverage report file
*.lst
